<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="village">
      <h2 data-cy="villageDetailsHeading"><span jhiTranslate="sendaiMonitorApp.village.detail.title">Village</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sendaiMonitorApp.village.villageId">Village Id</span></dt>
        <dd>
          <span>{{ village.villageId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.village.wardId">Ward Id</span></dt>
        <dd>
          <span>{{ village.wardId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.village.name">Name</span></dt>
        <dd>
          <span>{{ village.name }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.village.latitude">Latitude</span></dt>
        <dd>
          <span>{{ village.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.village.longitude">Longitude</span></dt>
        <dd>
          <span>{{ village.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.village.level">Level</span></dt>
        <dd>
          <span>{{ village.level }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/village', village.villageId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
