<div>
  <h2 id="page-heading" data-cy="DistrictHeading">
    <span jhiTranslate="sendaiMonitorApp.district.home.title">Districts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sendaiMonitorApp.district.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-district"
        [routerLink]="['/district/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sendaiMonitorApp.district.home.createLabel"> Create a new District </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="districts?.length === 0">
    <span jhiTranslate="sendaiMonitorApp.district.home.notFound">No districts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="districts && districts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="districtId">
            <span jhiTranslate="sendaiMonitorApp.district.districtId">District Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="provinceId">
            <span jhiTranslate="sendaiMonitorApp.district.provinceId">Province Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="sendaiMonitorApp.district.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <span jhiTranslate="sendaiMonitorApp.district.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <span jhiTranslate="sendaiMonitorApp.district.longitude">Longitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="level">
            <span jhiTranslate="sendaiMonitorApp.district.level">Level</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let district of districts; trackBy: trackDistrictId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/district', district.districtId, 'view']">{{ district.districtId }}</a>
          </td>
          <td>{{ district.provinceId }}</td>
          <td>{{ district.name }}</td>
          <td>{{ district.latitude }}</td>
          <td>{{ district.longitude }}</td>
          <td>{{ district.level }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/district', district.districtId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/district', district.districtId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(district)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="districts && districts.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
