<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="department">
      <h2 data-cy="departmentDetailsHeading"><span jhiTranslate="sendaiMonitorApp.department.detail.title">Department</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sendaiMonitorApp.department.departmentId">Department Id</span></dt>
        <dd>
          <span>{{ department.departmentId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.department.name">Name</span></dt>
        <dd>
          <span>{{ department.name }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.department.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ department.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.department.countryId">Country Id</span></dt>
        <dd>
          <span>{{ department.countryId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.department.provinceId">Province Id</span></dt>
        <dd>
          <span>{{ department.provinceId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.department.districtId">District Id</span></dt>
        <dd>
          <span>{{ department.districtId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.department.wardId">Ward Id</span></dt>
        <dd>
          <span>{{ department.wardId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.department.villageId">Village Id</span></dt>
        <dd>
          <span>{{ department.villageId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/department', department.departmentId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
