<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-donation-heading" data-cy="DonationCreateUpdateHeading" jhiTranslate="sendaiMonitorApp.donation.home.createOrEditLabel">
        Create or edit a Donation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3 d-none">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.donation.donorId" for="field_donorId">Donor Id</label>
          <input
            type="text"
            class="form-control col"
            name="donorId"
            id="field_donorId"
            data-cy="donorId"
            formControlName="donorId"
            [readonly]="editForm.get('donorId')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.donation.disasterId" for="field_disasterId">Disaster Id</label>
          <input
            type="text"
            class="form-control col"
            name="disasterId"
            id="field_disasterId"
            data-cy="disasterId"
            formControlName="disasterId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.donation.name" for="field_name">Name</label>
          <input type="text" class="form-control col" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.donation.type" for="field_type">Type</label>
          <input type="text" class="form-control col" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.donation.valueOfDonation" for="field_valueOfDonation"
            >Value Of Donation</label
          >
          <input
            type="number"
            class="form-control col"
            name="valueOfDonation"
            id="field_valueOfDonation"
            data-cy="valueOfDonation"
            formControlName="valueOfDonation"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
