@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.hipster {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: url('../../../content/images/dcp.png') no-repeat center top;
  background-size: contain;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}


.nav-link {
  color: #f7f5f5;
  text-decoration: none;
}


.nav-link.active,
.nav-link:active {
  color: #fff;
  text-decoration: none;
  background-color: #1C1C1C;
}
