<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="district">
      <h2 data-cy="districtDetailsHeading"><span jhiTranslate="sendaiMonitorApp.district.detail.title">District</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sendaiMonitorApp.district.districtId">District Id</span></dt>
        <dd>
          <span>{{ district.districtId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.district.provinceId">Province Id</span></dt>
        <dd>
          <span>{{ district.provinceId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.district.name">Name</span></dt>
        <dd>
          <span>{{ district.name }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.district.latitude">Latitude</span></dt>
        <dd>
          <span>{{ district.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.district.longitude">Longitude</span></dt>
        <dd>
          <span>{{ district.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.district.level">Level</span></dt>
        <dd>
          <span>{{ district.level }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/district', district.districtId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
