<div>   
  
  <button class="btn btn-info my-4" (click)="getLiveStocks()" [disabled]="isLoading">
    <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
    <span jhiTranslate="sendaiMonitorApp.disaster.home.refreshListLabel">Refresh List</span>
  </button>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="liveStocks?.length === 0">
    <span jhiTranslate="sendaiMonitorApp.liveStock.home.notFound">No liveStocks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="liveStocks && liveStocks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="getLiveStocks()">
          <th scope="col" jhiSortBy="anonymous">
            <span jhiTranslate="sendaiMonitorApp.liveStockType.detail.title">LiveStock Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nationalId">
            <span jhiTranslate="sendaiMonitorApp.disaster.detail.title">Disaster</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nationalId">
            <span jhiTranslate="sendaiMonitorApp.casualty.detail.title">Casualty</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nationalId">
            <span jhiTranslate="sendaiMonitorApp.liveStock.liveStockAffected">Died</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nationalId">
            <span jhiTranslate="sendaiMonitorApp.liveStock.estimatedLoss">Estimated Loss</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let liveStock of liveStocks; trackBy: trackLiveStockId" data-cy="entityTable">
          <td>{{ getLiveStockType(liveStock.liveStockTypeId!)?.name }}</td>
          <td>{{ disaster?.name }}</td>
          <td>{{ getCasualty(liveStock.casualtyId!)?.firstName }} {{ getCasualty(liveStock.casualtyId!)?.lastName }}</td>
          <td>{{ liveStock.died }}</td>
          <td>{{ liveStock.estimatedLoss }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/live-stock', liveStock.liveStockId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/live-stock', liveStock.liveStockId, 'edit']"
                class="btn btn-primary btn-sm mx-1"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
