<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-village-heading" data-cy="VillageCreateUpdateHeading" jhiTranslate="sendaiMonitorApp.village.home.createOrEditLabel">
        Create or edit a Village
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3 d-none">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.village.villageId" for="field_villageId">Village Id</label>
          <input
            type="text"
            class="form-control col"
            name="villageId"
            id="field_villageId"
            data-cy="villageId"
            formControlName="villageId"
            [readonly]="editForm.get('villageId')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2 " 
            for="field_intervention">Province</label>
          <ng-multiselect-dropdown rows="4" required [settings]="dropdownSettings" [data]="dropdownList"
            (onSelect)="onItemSelect($event)" [ngModel]="provinces"
            [ngModelOptions]="{standalone: true}" (onDeSelect)="onItemDeSelect($event)"
            class="col p-0">
          </ng-multiselect-dropdown>
        </div>

        <div class="row mb-3">
          <label class="form-label col-2 " 
            for="field_intervention">District</label>
          <ng-multiselect-dropdown rows="4" [settings]="districtDropdownSettings" required [data]="districtDropdownList"
            (onSelect)="onDistrictItemSelect($event)" [ngModel]="districts"
            [ngModelOptions]="{standalone: true}" (onDeSelect)="onDistrictItemDeSelect($event)"
            class="col p-0">
          </ng-multiselect-dropdown>
        </div>

        <div class="row mb-3">
          <label class="form-label col-2 " 
            for="field_intervention">Ward</label>
          <ng-multiselect-dropdown rows="4" required [settings]="wardDropdownSettings" [data]="wardDropdownList"
            (onSelect)="onWardItemSelect($event)" [ngModel]="wards"
            [ngModelOptions]="{standalone: true}" (onDeSelect)="onWardItemDeSelect($event)"
            class="col p-0">
          </ng-multiselect-dropdown>
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.village.name" for="field_name">Name</label>
          <input type="text" class="form-control col" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.village.latitude" for="field_latitude">Latitude</label>
          <input type="text" class="form-control col" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.village.longitude" for="field_longitude">Longitude</label>
          <input type="text" class="form-control col" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="row mb-3 d-none">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.village.level" for="field_level">Level</label>
          <input type="number" class="form-control col" name="level" id="field_level" data-cy="level" formControlName="level" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
