<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-disaster-type-heading"
        data-cy="DisasterTypeCreateUpdateHeading"
        jhiTranslate="sendaiMonitorApp.disasterType.home.createOrEditLabel"
      >
        Create or edit a Disaster Type
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3 d-none">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.disasterType.disasterTypeId" for="field_disasterTypeId"
            >Disaster Type Id</label
          >
          <input
            type="text"
            class="form-control col"
            name="disasterTypeId"
            id="field_disasterTypeId"
            data-cy="disasterTypeId"
            formControlName="disasterTypeId"
            [readonly]="editForm.get('disasterTypeId')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.disasterType.disasterCategoryId" for="field_disasterCategoryId"
            >Disaster Category Id</label
          >
          <input
            type="text"
            class="form-control col"
            name="disasterCategoryId"
            id="field_disasterCategoryId"
            data-cy="disasterCategoryId"
            formControlName="disasterCategoryId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.disasterType.name" for="field_name">Name</label>
          <input type="text" class="form-control col" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
