<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="province">
      <h2 data-cy="provinceDetailsHeading"><span jhiTranslate="sendaiMonitorApp.province.detail.title">Province</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sendaiMonitorApp.province.countryId">Country Id</span></dt>
        <dd>
          <span>{{ province.countryId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.province.provinceId">Province Id</span></dt>
        <dd>
          <span>{{ province.provinceId }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.province.name">Name</span></dt>
        <dd>
          <span>{{ province.name }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.province.latitude">Latitude</span></dt>
        <dd>
          <span>{{ province.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.province.longitude">Longitude</span></dt>
        <dd>
          <span>{{ province.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="sendaiMonitorApp.province.level">Level</span></dt>
        <dd>
          <span>{{ province.level }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/province', province.countryId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
