<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-crop-type-heading" data-cy="CropTypeCreateUpdateHeading" jhiTranslate="sendaiMonitorApp.cropType.home.createOrEditLabel">
        Create or edit a Crop Type
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3 d-none">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.cropType.cropTypeId" for="field_cropTypeId">Crop Type Id</label>
          <input
            type="text"
            class="form-control col"
            name="cropTypeId"
            id="field_cropTypeId"
            data-cy="cropTypeId"
            formControlName="cropTypeId"
            [readonly]="editForm.get('cropTypeId')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.cropType.name" for="field_name">Name</label>
          <input type="text" class="form-control col" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
