<div>
  <h2 id="page-heading" data-cy="InfrastructureHeading">
    <span jhiTranslate="sendaiMonitorApp.infrastructure.home.title">Infrastructures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sendaiMonitorApp.infrastructure.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-infrastructure"
        [routerLink]="['/infrastructure/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sendaiMonitorApp.infrastructure.home.createLabel"> Create a new Infrastructure </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="infrastructures?.length === 0">
    <span jhiTranslate="sendaiMonitorApp.infrastructure.home.notFound">No infrastructures found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="infrastructures && infrastructures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="infractructureId">
            <span jhiTranslate="sendaiMonitorApp.infrastructure.infractructureId">Infractructure Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="disasterId">
            <span jhiTranslate="sendaiMonitorApp.infrastructure.disasterId">Disaster Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="casualtyId">
            <span jhiTranslate="sendaiMonitorApp.infrastructure.casualtyId">Casualty Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="infractructureTypeId">
            <span jhiTranslate="sendaiMonitorApp.infrastructure.infractructureTypeId">Infractructure Type Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="damaged">
            <span jhiTranslate="sendaiMonitorApp.infrastructure.damaged">Damaged</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="destroyed">
            <span jhiTranslate="sendaiMonitorApp.infrastructure.destroyed">Destroyed</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="value">
            <span jhiTranslate="sendaiMonitorApp.infrastructure.value">Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let infrastructure of infrastructures; trackBy: trackInfractructureId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/infrastructure', infrastructure.infractructureId, 'view']">{{ infrastructure.infractructureId }}</a>
          </td>
          <td>{{ infrastructure.disasterId }}</td>
          <td>{{ infrastructure.casualtyId }}</td>
          <td>{{ infrastructure.infractructureTypeId }}</td>
          <td>{{ infrastructure.damaged }}</td>
          <td>{{ infrastructure.destroyed }}</td>
          <td>{{ infrastructure.value }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/infrastructure', infrastructure.infractructureId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/infrastructure', infrastructure.infractructureId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(infrastructure)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="infrastructures && infrastructures.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
