<div>
    <h2 id="page-heading">
        <span>Configuration Options</span>
    </h2>
    <div class="row">
        <!-- <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../project"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.project">Project</span>
            </a>
        </div> -->
        <!-- <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../project-disaster"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.projectDisaster">Project Disaster</span>
            </a>
        </div> -->
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../development-partner"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.developmentPartner">Development Partner</span>
            </a>
        </div>
        <!-- <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../partner-intervention"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.partnerIntervention">Partner Intervention</span>
            </a>
        </div> -->
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../disaster-category"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.disasterCategory">Disaster Category</span>
            </a>
        </div>
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../disaster-type"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.disasterType">Disaster Type</span>
            </a>
        </div>
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../department"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.department">Department</span>
            </a>
        </div>
        <!-- <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../beneficiary"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.beneficiary">Beneficiary</span>
            </a>
        </div> -->
        <!-- <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../casualty"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.casualty">Casualty</span>
            </a>
        </div> -->
        <!-- <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../address"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.address">Address</span>
            </a>
        </div> -->
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../hazard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.hazard">Hazard</span>
            </a>
        </div>
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../donation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.donation">Donation</span>
            </a>
        </div>
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../response-team"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.responseTeam">Response Team</span>
            </a>
        </div>
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../infrastructure-type"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.infrastructureType">Infrastructure Type</span>
            </a>
        </div>
        <!-- <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../infrastructure"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.infrastructure">Infrastructure</span>
            </a>
        </div> -->
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../crop-type"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.cropType">Crop Type</span>
            </a>
        </div>
        <!-- <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../crop"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.crop">Crop</span>
            </a>
        </div> -->
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../live-stock-type"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.liveStockType">Live Stock Type</span>
            </a>
        </div>
        <!-- <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../live-stock"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.liveStock">Live Stock</span>
            </a>
        </div> -->
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../country"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.country">Country</span>
            </a>
        </div>
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../province"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.province">Province</span>
            </a>
        </div>
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../district"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.district">District</span>
            </a>
        </div>
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../ward"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.ward">Ward</span>
            </a>
        </div>
        <div class="col-3">
            <a
            class="dropdown-item"
            routerLink="../village"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.village">Village</span>
            </a>
        </div>
    </div>
</div>
