<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-project-disaster-heading"
        data-cy="ProjectDisasterCreateUpdateHeading"
        jhiTranslate="sendaiMonitorApp.projectDisaster.home.createOrEditLabel"
      >
        Create or edit a Project Disaster
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3 d-none">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.projectDisaster.projectDisasterId" for="field_projectDisasterId"
            >Project Disaster Id</label
          >
          <input
            type="text"
            class="form-control col"
            name="projectDisasterId"
            id="field_projectDisasterId"
            data-cy="projectDisasterId"
            formControlName="projectDisasterId"
            [readonly]="editForm.get('projectDisasterId')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.projectDisaster.projectId" for="field_projectId">Project Id</label>
          <input type="text" class="form-control col" name="projectId" id="field_projectId" data-cy="projectId" formControlName="projectId" />
        </div>

        <div class="row mb-3">
          <label class="form-label col-2" jhiTranslate="sendaiMonitorApp.projectDisaster.disastertId" for="field_disastertId">Disastert Id</label>
          <input
            type="text"
            class="form-control col"
            name="disastertId"
            id="field_disastertId"
            data-cy="disastertId"
            formControlName="disastertId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
