<div>
  <h2 id="page-heading" data-cy="LiveStockTypeHeading">
    <span jhiTranslate="sendaiMonitorApp.liveStockType.home.title">Live Stock Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sendaiMonitorApp.liveStockType.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-live-stock-type"
        [routerLink]="['/live-stock-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sendaiMonitorApp.liveStockType.home.createLabel"> Create a new Live Stock Type </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="liveStockTypes?.length === 0">
    <span jhiTranslate="sendaiMonitorApp.liveStockType.home.notFound">No liveStockTypes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="liveStockTypes && liveStockTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="liveStockTypeId">
            <span jhiTranslate="sendaiMonitorApp.liveStockType.liveStockTypeId">Live Stock Type Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="sendaiMonitorApp.liveStockType.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let liveStockType of liveStockTypes; trackBy: trackLiveStockTypeId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/live-stock-type', liveStockType.liveStockTypeId, 'view']">{{ liveStockType.liveStockTypeId }}</a>
          </td>
          <td>{{ liveStockType.name }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/live-stock-type', liveStockType.liveStockTypeId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/live-stock-type', liveStockType.liveStockTypeId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(liveStockType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="liveStockTypes && liveStockTypes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
