<div class="d-flex justify-content-center">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="form">

      <jhi-alert-error></jhi-alert-error>

      <div *ngIf="isSaving" class="d-flex justify-content-center">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">...Loading...</span>
        </div>
      </div>

      <div *ngIf="!isSaving" >

        <table class="table caption-top">

          <!-- Chidren Section -->

          <tbody formGroupName="children_male">
            <tr formArrayName="enabled">
              <th scope="row">CHILDREN MALE (0-14 Yrs)</th>
              <td>ENABLED</td>
              <td *ngFor="let popn of childrenMaleEnabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
            <tr formArrayName="disabled">
              <th scope="row"></th>
              <td>DISABLED</td>
              <td *ngFor="let popn of childrenMaleDisabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
          </tbody>


          <tbody formGroupName="children_female">
            <tr formArrayName="enabled">
              <th scope="row">CHILDREN FEMALE (0-14 Yrs)</th>
              <td>ENABLED</td>
              <td *ngFor="let popn of childrenFemaleEnabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
            <tr formArrayName="disabled">
              <th scope="row"></th>
              <td>DISABLED</td>
              <td *ngFor="let popn of childrenFemaleDisabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
          </tbody>

          <!-- Middle Aged Section -->

          <tbody formGroupName="middle_aged_male">
            <tr formArrayName="enabled">
              <th scope="row">MIDDLE AGED MALE (15-64 Yrs)</th>
              <td>ENABLED</td>
              <td *ngFor="let popn of middleAgedMaleEnabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
            <tr formArrayName="disabled">
              <th scope="row"></th>
              <td>DISABLED</td>
              <td *ngFor="let popn of middleAgedMaleDisabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
          </tbody>


          <tbody formGroupName="middle_aged_female">
            <tr formArrayName="enabled">
              <th scope="row">MIDDLE AGED FEMALE (15-64 Yrs)</th>
              <td>ENABLED</td>
              <td *ngFor="let popn of middleAgedFemaleEnabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
            <tr formArrayName="disabled">
              <th scope="row"></th>
              <td>DISABLED</td>
              <td *ngFor="let popn of middleAgedFemaleDisabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
          </tbody>

          <!-- ELDERLY Section -->

          <tbody formGroupName="elderly_male">
            <tr formArrayName="enabled">
              <th scope="row">ELDERLY MALE (>64 Yrs)</th>
              <td>ENABLED</td>
              <td *ngFor="let popn of elderlyMaleEnabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
            <tr formArrayName="disabled">
              <th scope="row"></th>
              <td>DISABLED</td>
              <td *ngFor="let popn of elderlyMaleDisabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
          </tbody>

          <tbody formGroupName="elderly_female">
            <tr formArrayName="enabled">
              <th scope="row">ELDERLY FEMALE (>64 Yrs)</th>
              <td>ENABLED</td>
              <td *ngFor="let popn of elderlyFemaleEnabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
            <tr formArrayName="disabled">
              <th scope="row"></th>
              <td>DISABLED</td>
              <td *ngFor="let popn of elderlyFemaleDisabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
          </tbody>

          <!-- unknown Section -->

          <tbody formGroupName="unknown">
            <tr formArrayName="enabled">
              <th scope="row">UNKNOWN</th>
              <td>ENABLED</td>
              <td *ngFor="let popn of unknownEnabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
            <tr formArrayName="disabled">
              <th scope="row"></th>
              <td>DISABLED</td>
              <td *ngFor="let popn of unknownDisabled.controls; let i = index" [formGroupName]="i" class="">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">{{popn.get('humanPopulationDisasterCategoryName')?.value}}</span>
                  </div>
                  <input type="text" class="form-control" formControlName="value"  onfocus="this.select()">
                </div>
              </td>
            </tr>
          </tbody>


        </table>

      </div>

      <div>
        <button
          *ngIf="!isSaving" 
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary"
          [disabled]="form.invalid || isSaving || disabled"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
